DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes non existantes vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]